<!doctype html>
<!-- doctype lets nvim (or is it tree-sitter?) know this is an html file :O -->
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>WA-BOT</title>
    </head>
    <body>
        <%- include('navbar.ejs') %>
        <main class="container mx-auto max-w-xl p-4">
            <h1 class="text-2xl">
                Hello, <%= hello %>!
            </h1>
        </main>
    </body>
    <script>
    </script>
</html>
