<!doctype html>
<nav class="p-4">
    <ul class="flex justify-between">
        <li>
            <span>WA-BOT</span>
        </li>
        <li>
            <span>Status: OK</span>
        </li>
    </ul>
</nav>
<hr>
