<!doctype html>
<div class="md:columns-2 p-1 space-y-1">
    <% for (i in groups) { %>
        <% const g = groups[i]; %>
        <label class="flex items-center gap-1 px-2 py-1 rounded-xl select-none">
            <input type="checkbox"
                name="gid"
                value="<%= g.id._serialized %>"
                <% if (checkedIds.includes(g.id._serialized)) { %>
                    checked
                <% } %>
            >
            <div class="flex justify-center items-center w-8 h-8"
                hx-get="/chats/<%= g.id._serialized %>/icon"
                hx-trigger="load delay:<%= + i + 1 %>s"
                hx-swap="outerHTML"
            >
                <i class="fa-circle-notch fa-solid animate-spin"></i>
            </div>
            <%= g.name %>
        </label>
    <% } %>
    <script>
        var swapColor = (el) => {
            if (el.checked) {
                el.parentElement.classList.add('bg-emerald-950');
            } else {
                el.parentElement.classList.remove('bg-emerald-950');
            }
        };
        var checkboxes = document.querySelectorAll('input[type="checkbox"][name="gid"]');
        checkboxes.forEach(c => swapColor(c));
        checkboxes.forEach(c => addEventListener('change', () => swapColor(c)));
    </script>
</div>
