<!doctype html>
<div class="space-y-2">
    <% if (messages.length === 0) { %>
        <div class="text-center">
            There are no messages. Click [+] to create one.
        </div>
    <% } else { %>
        <% for (m of messages.reverse()) { %>
            <%- include('comps/message.ejs', { message: m }) %>
        <% } %>
    <% } %>
</div>
