<!doctype html>
<div class="space-y-2"
    hx-ext="sse"
    sse-connect="/messages/status/events"
>
    <% if (messages.length === 0) { %>
        <div class="text-center">
            There are no messages. Click <i class="fa-square-plus fa-solid"></i> to create one.
        </div>
    <% } else { %>
        <% for (m of messages.reverse()) { %>
            <div class="flex">
                <div class="flex-1">
                    <%- include('comps/message.ejs', { message: m }) %>
                </div>
            </div>
        <% } %>
    <% } %>
    <style>
        .fix-dimensions {
            writing-mode: vertical-rl;
        }
    </style>
</div>
