<!doctype html>
<div class="text-center"
    hx-get="/client/status"
    hx-trigger="load delay:0.5s"
    hx-swap="outerHTML"
>
    <% if (status) { %>
        Status:<br><%= status.toUpperCase() %>
    <% } else { %>
        Status:<br>UNKNOWN
    <% } %>
</div>
