<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
        <title>WA-BOT</title>
    </head>
    <body class="bg-emerald-950 text-white">
        <%- include('comps/navbar.ejs') %>
        <main class="container p-4 mx-auto">
            <div class="flex justify-between place-items-center">
                <div class="shrink">
                    <%- include('comps/load-qrcode.ejs') %>
                </div>
            </div>
        </main>
    </body>
    <script>
    </script>
</html>
