<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <script src="https://unpkg.com/htmx-ext-sse@2.2.1/sse.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
        <title>WA-BOT</title>
    </head>
    <body class="bg-emerald-950 text-white">
        <%- include('comps/navbar.ejs', { selected: 'messages' }) %>
        <main class="container p-4 mx-auto max-w-4xl">
            <div class="flex p-1">
                <div class="flex-1">
                    <div id="messages-indicator" class="indicator">
                        <i class="fa-spinner fa-solid fa-xl animate-spin"></i>
                    </div>
                </div>
                <div class="flex gap-2">
                    <button hx-post="/messages/send/start"
                        hx-target="#messages"
                        hx-swap="innerHTML"
                        hx-confirm="Are you sure you want to START ALL messsages?"
                    >
                        <i class="fa-circle-play fa-solid fa-lg"></i>
                    </button>
                    <button hx-post="/messages/send/stop"
                        hx-target="#messages"
                        hx-swap="innerHTML"
                        hx-confirm="Are you sure you want to STOP ALL messsages?"
                    >
                        <i class="fa-circle-stop fa-regular fa-lg"></i>
                    </button>
                </div>
                <div class="flex-1 flex flex-row-reverse gap-2">
                    <button hx-post="/messages"
                        hx-target="#messages"
                        hx-swap="innerHTML"
                    >
                        <i class="fa-square-plus fa-solid fa-xl"></i>
                    </button>
                </div>
            </div>
            <div id="messages"
                hx-get="/messages"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-indicator="#messages-indicator"
            >
            </div>
        </main>
    </body>
    <style>
        .indicator {
            display:none;
        }
        .htmx-request.indicator {
            display:block;
        }
        .htmx-request .indicator {
            display:block;
        }
    }
    </style>
    <script src="/htmx-event-handlers.js"></script>
</html>
