<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
        <title>WA-BOT</title>
    </head>
    <body class="bg-emerald-950 text-white">
        <%- include('comps/navbar.ejs') %>
        <main class="container p-4 mx-auto">
            <div hx-get="/messages"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-indicator="#messages-indicator"
            >
                <div class="flex justify-center">
                    <i id="messages-indicator"
                        class="fa-spinner fa-solid animate-spin"
                    ></i>
                </div>
            </div>
        </main>
    </body>
    <script>
    </script>
</html>
