<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
        <title>WA-BOT</title>
    </head>
    <body class="bg-emerald-950 text-white">
        <%- include('comps/navbar.ejs') %>
        <main class="container p-4 mx-auto">
            <div class="flex p-1">
                <div id="messages-indicator" class="indicator">
                    <i class="fa-spinner fa-solid fa-xl animate-spin"></i>
                </div>
                <div class="flex-1 flex flex-row-reverse">
                    <button hx-post="/messages"
                        hx-target="#messages"
                        hx-swap="innerHTML"
                    >
                        <i class="fa-square-plus fa-solid fa-xl"></i>
                    </button>
                </div>
            </div>
            <div id="messages"
                hx-get="/messages"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-indicator="#messages-indicator"
            >
            </div>
        </main>
    </body>
    <script>
    </script>
    <style>
        .indicator {
            display:none;
        }
        .htmx-request.indicator {
            display:block;
        }
        .htmx-request .indicator {
            display:block;
        }
    }
    </style>
</html>
